/output/.part-00001.crc
/output/.part-00002.crc
/output/.part-00003.crc
/output/.part-00004.crc
/output/.part-00005.crc
/output/.part-00006.crc
/output/.part-00007.crc
/output/part-00001
/output/part-00002
/output/part-00003
/output/part-00004
/output/part-00005
/output/part-00006
/output/part-00007
